/* Container styling */
.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
}

/* Left Panel Styling */
.left-panel {
    width: 30%;
    background-color: #7d6f48;
    color: #FFFFFF;
    font-weight: bold;
    padding: 7px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Right Panel Styling */
.right-panel {
    width: 70%;
    background-color: #d4c6a1;
    padding: 7px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Main Menu Item Styling */
.mainmenuitem {
    border-radius: 12px;
    padding: 7px;
    margin-bottom: 5px;
    cursor: pointer;
}

.mainmenuitem:hover {
    background-color: rgba(223, 216, 197, 0.25);
    transition: ease-in 0.3s;
}

/* Main Window Styling */
.main-window {
    width: 100%;
}

.custom-window-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #80641a;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

/* Menu Bar Styling */
.custom-menu-bar {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

/* Button Styling */
.menu-button {
    border-radius: 7px;
    background-color: #ada899;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: #000;
}

.menu-button:hover {
    background-color: #c5c0a4;
}

/* Mini Window Styling */
.mini-window {
    width: 100%;
    padding: 10px;
    background-color: #ddd9c2;
    margin-bottom: 10px;
}

/* Hidden Class */
.hidden {
    display: none;
}

/* Form Styling */
.window-content form {
    margin: 0;
}

.window-content form .frm_form_field {
    margin-bottom: 10px;
}
